<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApp2.Properties.Settings.ShopConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Shop;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient"/>
        <add name="ConsoleApp2.Properties.Settings.shopConnectionString1" connectionString="Data Source=DESKTOP-SV6S892;Initial Catalog=shop;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
